<div class="header">
    <div id="title">
      <a class=" c-gy text-dec" href="/">Issue Tracker</a>
      </div>
      <div class="signout">
        <% if(locals.user){ %>
          <a class="text-dec" style="color:red;" href="/users/sign-out" type="GET">Sign out</a>
      <%} %>
      </div>
      
        </div>