<link rel="stylesheet" href="/css/login.css" />  
<section id="signin-user">
  <h1 style="text-align: center; margin-top: 10px">Sign In</h1>

  <!-- form for signing in -->
  <form action="/users/create-session" method="POST">
    <div id="useremail">
      <h3>Email</h3>
      <input type="email" name="email" id="email" placeholder="Enter Email Address" />
    </div>

    
    <div id="userpassword">
      <h3>Password</h3>
      <input type="password" name="password" id="password" placeholder="Enter Password"/>
    </div>

    <button id="signin-btn">Sign In</button>
  </form>
  <br>
  <br>
  <div id="signup-sec">
    <span>Don't Have an Account?&nbsp;:&nbsp;<a href="/users/signup">Sign Up</a></span>
  </div>
</section>


    