<link rel="stylesheet" href="/css/signup.css" />  
<section id="create-new-user">
  <h1 style="text-align: center; margin-top: 10px">Sign Up</h1>

  <!-- form for signing in -->
  
   <form action="/users/createuser" method="POST">
 
      <div id="username">
        <h3>User Name</h3>
        <input type="text" name="userName" id="name" placeholder="Enter User Name"/>
      </div>

      <div id="useremail">
      <h3>Email</h3>
      <input type="email" name="email" id="email" placeholder="Enter Email Address" />
    </div>

    
    <div id="userpassword">
      <h3>Password</h3>
      <input type="password" name="password" id="password" placeholder="Enter Password"/>
    </div>
    <div id="userconfirmpassword">
      <h3> Confirm Password</h3>
      <input type="password" name="confirmPassword" id="confirmpassword" placeholder="Enter Confirm Password"/>
    </div>

    <button id="signup-btn">Sign Up</button>
  </form>
  <br>
  <br>
  <div id="signin-sec">
    <span>Already Have an Account?&nbsp;:&nbsp;<a href="/users/login">Sign In</a></span>
  </div>
</section>