
body{
    background: linear-gradient(45deg,lightblue,lightpink);
    margin: 0;
    padding: 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    height:100vh;
    }
    
    .newissue-form{
    min-height: 60vh;
    border-radius: 1rem 1rem;
    border:1px solid grey;
    width:37%;
    background-color:rgb(236, 221, 193);
    color:green;
    position:relative;
    left:30%;
    }
    .header{
        width:100vw;
        height:7vh;
        font-size: 2rem;
        color:darkorange;
        background-color: rgb(24, 24, 61);
    }
    .footer{
        padding:7px;
        text-align:end;
        width:100vw;
        height:6.5vh;
        color:yellow;
        background-color: rgb(24, 24, 61);
    }